################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/druga_vaja/.vs/druga_vaja/FileContentIndex/231eed8c-c9ad-4315-afa3-6df8669d930a.vsidx
/druga_vaja/druga_vaja/bin/Debug/net8.0/druga_vaja.runtimeconfig.json
/druga_vaja/.vs/druga_vaja
/3_vaja/obj/Debug/net8.0
